body
{
   width: 100vw;
   min-width: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: rgb(209, 187, 187); 

}
h1
{
    font-family: 'Courier New', Courier, monospace;
}
main
{
    
    width: 100vw;

}
main .container{
    display: flex;
    flex-direction: column;
    
    
}
input
{

 visibility: hidden;
 
 
}
.container label{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: rgb(253, 253, 253);
    height: auto;
    width: 80vw;
    height: auto;
    transition: all 0.4s;
    margin-top: 10px;
    


    
}
.info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
p
{
    padding-left: 10px;
    font-size: 30px;    
}
.element img.icon 
{
    padding-right: 10px;
}

.container:hover
{
    color: blue;
    

}
.container label:hover
{
    color: rgb(0, 0, 0);
     background-color: rgb(144, 144, 144);   

}

article{
    display: flex;
    justify-content: center;
    height: auto;
    
    
}
.element
{
    display: flex;
    justify-content: center;
    
    
}
.element img
{
    margin: 0px;
    padding: 0px;
    
    
}
.element .info
{
    border-width: 10px;
    border-color: black;
}

.element .meme
{

    height: 0;
    
    transition: all  0.5s;
    

    
}

.container  input:hover ~  .meme
{
    height: auto;
    
    display: flex;
    align-items: center;
    transition: all  0.5s;
    
    

}

.container input:checked ~ .meme
{
    height: auto;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    transition: all  0.5s;
    
    
    

}
.container input:checked ~ .element img .icon
{
    transform: rotate(180deg);
}
.container label:hover ~ element img .icon
{
    transform: rotate(180deg);
}

